@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body{
	background: #0F103F;
}
.white{
	color: white;
}
.banner ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	width: 60%;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 20px;
}
.anhillus{
	position:absolute; 
}
.banner .anhbentrai{
	width: 25%;
	top: 10%;
	right: 3%;
}
.banner .anhbenphai{
	width: 50%;
	top: 30%;
	left: 50%;
}